.body{background-color: #E0FFFF; align-content: center; width: 800px; height: 800px;}

.section1{width:1800px; }

.title{font-family: Comic Sans MS; color:#FFC0CB; font-size: 60px;}

.titlediv{width:800px; height:100px ; text-align: center; margin-left:-100px; margin-top: 20px}

